/* font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common styles and utilities */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

/* header section styling */
.header-section {
  display: flex;
  width: 100%;
  height: 677px;
  background-color: #2d25a0;
}
.header-info {
  padding: 121px 102px 240px 156px;
}
.header-title {
  width: 485px;
  height: 230px;
  font-size: 64px;
  color: white;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 556.01px;
  height: 438px;
  padding: 135px 141px 86px 0;
}

.btn {
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  color: white;
  font-size: 16px;
  outline: none;
  border: none;
  margin-top: 26px;
  transition: all 0.6s;
}
.btn:hover {
  transform: scale(1.5);
  background-color: #8f103e;
  border-radius: 10px;
}
.header-btn span {
  margin-left: 8px;
}

/* player info section styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
  margin: 70px 180px 165px;
}
.player {
  width: 300px;
  height: 474px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .player-img img {
  width: 300px;
  height: 256px;
}
.player .player-info {
  width: 300px;
  height: 154px;
  margin-top: 16px;
  margin-bottom: 33px;
}
.player .player-info .player-name {
  font-size: 28px;
  font-weight: bold;
  margin-top: 16px 0 10px 0;
}
.player .player-info p {
  height: 104px;
  font-size: 16px;
  font-weight: 400;
  color: #6c6c6c;
}
/* winning team section styles */
.winning-team-details {
  width: 700px;
  position: relative;
}

.winning-team-details .winning-team-img {
  width: 100%;
}

.winning-team-details .winning-team-info {
  overflow: hidden;
  display: none;
  position: absolute;
  top: 0;
  font-size: 20px;
  font-weight: 300;
  color: rgb(20, 18, 18);
  background-color: rgba(135, 206, 250, 0.52);
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: all 0.7s;
  box-sizing: border-box;
}
.winning-team-details:hover .winning-team-info {
  display: block;
}
/* form section styles */
#form-section {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 158px;
}
.form-control {
  width: 600px;
  outline: none;
  border: 2px solid rgb(59, 32, 178);
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 10px;
}
form button {
  color: white;

  background-color: cornflowerblue;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

/* footer section styles */
.footer-section {
  width: 484px;
  height: 213px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 63px;
}
.footer-logo {
  width: 484px;
  height: 110px;
  margin-bottom: 20px;
}
.footer-logo img {
  width: 100%;
}
.social-media-icons {
  margin-bottom: 20px;
}
.social-media-icons i {
  color: #969bab;
  font-size: 18px;
  margin-right: 14px;
}
.footer-section p {
  font-size: 18px;
  font-weight: 400;
}

/* media queries */

/* for mobile devices */
@media only screen and (max-width: 688px) {
  /* header section updated */

  .header-section {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 23px;
  }
  .header-info {
    padding: 52px 66px 50px 19px;
  }
  .header-title {
    width: 278px;
    height: 138px;
    font-size: 36px;
  }

  .half-width img {
    width: 329px;
    height: 260px;
    padding: 50px 16px 62px 15px;
  }
  .btn:hover {
    transform: scale(0.85);
    background-color: #8f103e;
    border-radius: 5px;
  }
  /* players section updated */
  .container {
    width: 100%;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: 24px 15px;
  }
  /* winninig team section updated */
  .winning-team-details {
    width: 100%;
  }
  .winning-team-info {
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
  }
  .winning-team-details:hover .winning-team-info {
    display: block;
    overflow: scroll;
  }
  /* form section changed */
  .form-control {
    width: 100%;
  }
  /* footer changes */
  .footer-logo {
    width: 276px;
  }
}
